@{
    ViewData["Title"] = "create a kart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MarioKart7Builder.Models.Kart

<h2>Create</h2>
<hr />
<h4>Add a new kart</h4>
@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.LabelFor(model => model.name)
        @Html.TextBoxFor(model => model.name)
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.character)
        @Html.TextBoxFor(model => model.character)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.body)
        @Html.TextBoxFor(model => model.body)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tire)
        @Html.TextBoxFor(model => model.tire)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.glider)
        @Html.TextBoxFor(model => model.glider)
    </div>

    <input type="submit" value="Add new Kart" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>
