@{
    ViewData["Title"] = "create a kart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MarioKart7Builder.ViewModels
@model CreateKartViewModel

<h2>Add a new kart</h2>
<hr />
@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.LabelFor(model => model.kart.name)
        @Html.TextBoxFor(model => model.kart.name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.kart.characterId)
        @Html.DropDownListFor(model => model.kart.characterId, Model.Characters, "Characters", null)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.kart.bodyId)
        @Html.DropDownListFor(model => model.kart.bodyId, Model.Bodys, "Bodys", null)
    </div>

    <div class="form-group">
       @Html.LabelFor(model => model.kart.tireId)
       @Html.DropDownListFor(model => model.kart.tireId, Model.Tires, "Tires", null)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.kart.gliderId)
        @Html.DropDownListFor(model => model.kart.gliderId, Model.Gliders, "Gliders", null)
    </div>

    <input type="submit" value="Add new Kart" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>
