@{
    ViewData["Title"] = "create a kart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MarioKart7Builder.ViewModels
@model CreateKartViewModel

<h2>Add a new kart</h2>
<p>
    @Html.ActionLink("Back to list", "Index")
</p>
<hr />
@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.LabelFor(model => model.kart.name, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.kart.name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.kart.characterId, new { @class = "control-label" })
        @Html.DropDownListFor(model => model.kart.characterId, Model.Characters, "Must Choose Character", new { @class = "btn btn-default dropdown-toggle" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.kart.bodyId, new { @class = "control-label" })
        @Html.DropDownListFor(model => model.kart.bodyId, Model.Bodys, "Must Choose Body", new { @class = "btn btn-default dropdown-toggle" })
    </div>

    <div class="form-group">
       @Html.LabelFor(model => model.kart.tireId, new { @class = "control-label" })
       @Html.DropDownListFor(model => model.kart.tireId, Model.Tires, "Must Choose Tire", new { @class = "btn btn-default dropdown-toggle" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.kart.gliderId, new { @class = "control-label" })
        @Html.DropDownListFor(model => model.kart.gliderId, Model.Gliders, "Must Choose Glider", new { @class = "btn btn-default dropdown-toggle" })
    </div>

    <input class="btn btn-default" type="submit" value="Add new Kart" />
}
