@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MarioKart7Builder.Models.Kart

<h2>your kart Details</h2>
<hr>
@Html.ActionLink("Edit This Kart", "Edit", new { id = Model.id }) | @Html.ActionLink("Delete This Kart", "Delete", new { id = Model.id })


<table>
    <tr>
        <th>@Html.DisplayFor(model => model.name)</th>
        <th>@Html.DisplayNameFor(model => model.character.landSpeed)</th>
        <th>@Html.DisplayNameFor(model => model.character.waterSpeed)</th>
        <th>@Html.DisplayNameFor(model => model.character.airSpeed)</th>
        <th>@Html.DisplayNameFor(model => model.character.acceleration)</th>
        <th>@Html.DisplayNameFor(model => model.character.weight)</th>
        <th>@Html.DisplayNameFor(model => model.character.landHandling)</th>
        <th>@Html.DisplayNameFor(model => model.character.watrHandling)</th>
        <th>@Html.DisplayNameFor(model => model.character.airHandling)</th>
        <th>@Html.DisplayNameFor(model => model.character.offRoad)</th>
        <th>@Html.DisplayNameFor(model => model.character.stabiliy)</th>
        <th>@Html.DisplayNameFor(model => model.character.drift)</th>
        <th>@Html.DisplayNameFor(model => model.character.miniTurbo)</th>

    </tr>
    <tr>
        <th>@Html.DisplayFor(model => model.character.name)</th>
        <th>@Html.DisplayFor(model => model.character.landSpeed)</th>
        <th>@Html.DisplayFor(model => model.character.waterSpeed)</th>
        <th>@Html.DisplayFor(model => model.character.airSpeed)</th>
        <th>@Html.DisplayFor(model => model.character.acceleration)</th>
        <th>@Html.DisplayFor(model => model.character.weight)</th>
        <th>@Html.DisplayFor(model => model.character.landHandling)</th>
        <th>@Html.DisplayFor(model => model.character.watrHandling)</th>
        <th>@Html.DisplayFor(model => model.character.airHandling)</th>
        <th>@Html.DisplayFor(model => model.character.offRoad)</th>
        <th>@Html.DisplayFor(model => model.character.stabiliy)</th>
        <th>@Html.DisplayFor(model => model.character.drift)</th>
        <th>@Html.DisplayFor(model => model.character.miniTurbo)</th>
    </tr>
    <tr>
        <th>@Html.DisplayFor(model => model.body.name)</th>
        <th>@Html.DisplayFor(model => model.body.landSpeed)</th>
        <th>@Html.DisplayFor(model => model.body.waterSpeed)</th>
        <th>@Html.DisplayFor(model => model.body.airSpeed)</th>
        <th>@Html.DisplayFor(model => model.body.acceleration)</th>
        <th>@Html.DisplayFor(model => model.body.weight)</th>
        <th>@Html.DisplayFor(model => model.body.landHandling)</th>
        <th>@Html.DisplayFor(model => model.body.watrHandling)</th>
        <th>@Html.DisplayFor(model => model.body.airHandling)</th>
        <th>@Html.DisplayFor(model => model.body.offRoad)</th>
        <th>@Html.DisplayFor(model => model.body.stabiliy)</th>
        <th>@Html.DisplayFor(model => model.body.drift)</th>
        <th>@Html.DisplayFor(model => model.body.miniTurbo)</th>
    </tr>
    <tr>
        <th>@Html.DisplayFor(model => model.tire.name)</th>
        <th>@Html.DisplayFor(model => model.tire.landSpeed)</th>
        <th>@Html.DisplayFor(model => model.tire.waterSpeed)</th>
        <th>@Html.DisplayFor(model => model.tire.airSpeed)</th>
        <th>@Html.DisplayFor(model => model.tire.acceleration)</th>
        <th>@Html.DisplayFor(model => model.tire.weight)</th>
        <th>@Html.DisplayFor(model => model.tire.landHandling)</th>
        <th>@Html.DisplayFor(model => model.tire.watrHandling)</th>
        <th>@Html.DisplayFor(model => model.tire.airHandling)</th>
        <th>@Html.DisplayFor(model => model.tire.offRoad)</th>
        <th>@Html.DisplayFor(model => model.tire.stabiliy)</th>
        <th>@Html.DisplayFor(model => model.tire.drift)</th>
        <th>@Html.DisplayFor(model => model.tire.miniTurbo)</th>
    </tr>
    <tr>
        <th>@Html.DisplayFor(model => model.glider.name)</th>
        <th>@Html.DisplayFor(model => model.glider.landSpeed)</th>
        <th>@Html.DisplayFor(model => model.glider.waterSpeed)</th>
        <th>@Html.DisplayFor(model => model.glider.airSpeed)</th>
        <th>@Html.DisplayFor(model => model.glider.acceleration)</th>
        <th>@Html.DisplayFor(model => model.glider.weight)</th>
        <th>@Html.DisplayFor(model => model.glider.landHandling)</th>
        <th>@Html.DisplayFor(model => model.glider.watrHandling)</th>
        <th>@Html.DisplayFor(model => model.glider.airHandling)</th>
        <th>@Html.DisplayFor(model => model.glider.offRoad)</th>
        <th>@Html.DisplayFor(model => model.glider.stabiliy)</th>
        <th>@Html.DisplayFor(model => model.glider.drift)</th>
        <th>@Html.DisplayFor(model => model.glider.miniTurbo)</th>

    </tr>
    <tfoot><tr>
        <th>Total</th>
        <th>@ViewBag.landSpeed</th>
        <th>@ViewBag.waterSpeed</th>
        <th>@ViewBag.airSpeed</th>
        <th>@ViewBag.acceleration</th>
        <th>@ViewBag.weight</th>
        <th>@ViewBag.landHandling</th>
        <th>@ViewBag.watrHandling</th>
        <th>@ViewBag.airHandling</th>
        <th>@ViewBag.offRoad</th>
        <th>@ViewBag.stabiliy</th>
        <th>@ViewBag.drift</th>
        <th>@ViewBag.miniTurbo</th>
    </tr></tfoot>
</table>


<p>@Html.ActionLink("Back to list", "Index")</p>