@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MarioKart7Builder.Models.Kart

<h2>Details</h2>
<hr>
@Html.ActionLink("Edit", "Edit", new { id = Model.id }) | @Html.ActionLink("Delete", "Delete", new { id = Model.id })

<h3>@Html.DisplayNameFor(model => model.name): @Html.DisplayFor(model => model.name)</h3>
<ul>
    <li>@Html.DisplayNameFor(model => model.userId): @Html.DisplayFor(model => model.userId)</li>
    <li>@Html.DisplayNameFor(model => model.character: @Html.DisplayFor(model => model.character</li>
    <li>@Html.DisplayNameFor(model => model.body: @Html.DisplayFor(model => model.body</li>
    <li>@Html.DisplayNameFor(model => model.tire: @Html.DisplayFor(model => model.tire</li>
    <li>@Html.DisplayNameFor(model => model.glider: @Html.DisplayFor(model => model.glider</li>

</ul>

<p>@Html.ActionLink("Back to list", "Index")</p>