@{
    ViewData["Title"] = "Edit your kart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MarioKart7Builder.Models.Kart

<h2>Edit</h2>
<hr />
<h4>Edit this Kart: @Html.DisplayFor(model => model.name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.id)
    <div class="form-group">
        @Html.LabelFor(model => model.name)
        @Html.TextBoxFor(model => model.name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.character)
        @Html.TextBoxFor(model => model.character)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.body)
        @Html.TextBoxFor(model => model.body)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tire)
        @Html.TextBoxFor(model => model.tire)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.glider)
        @Html.TextBoxFor(model => model.glider)
    </div>
    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to View", "Details", new { id = Model.id })</p>