@{
    ViewData["Title"] = "yeeeee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<MarioKart7Builder.Models.Kart>

<h2>Kart(s)</h2>
@Html.ActionLink("Home", "index", "Home") | @Html.ActionLink("Create New", "Create")
<hr>

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.name) (click name to see details)</th>
        <th>@Html.DisplayNameFor(model => model.id)</th>
        <th>@Html.DisplayNameFor(model => model.userId)</th>
        <th>@Html.DisplayNameFor(model => model.characterId)</th>
        <th>@Html.DisplayNameFor(model => model.bodyId)</th>
        <th>@Html.DisplayNameFor(model => model.tireId)</th>
        <th>@Html.DisplayNameFor(model => model.gliderId)</th>
    </tr>
    @foreach (var kart in Model)
    {
        <tr>
            <th>@Html.ActionLink((string)@kart.name, "Details", new { id = kart.id })</th>
            <th>@Html.DisplayFor(modelKart => kart.id)</th>
            <th>@Html.DisplayFor(modelKart => kart.userId)</th>
            <th>@Html.DisplayFor(modelKart => kart.characterId)</th>
            <th>@Html.DisplayFor(modelKart => kart.bodyId)</th>
            <th>@Html.DisplayFor(modelKart => kart.tireId)</th>
            <th>@Html.DisplayFor(modelKart => kart.gliderId)</th>
        </tr>
    }
</table>