@{
    ViewData["Title"] = "list kart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<MarioKart7Builder.Models.Kart>

<h2>Kart(s)</h2>
@Html.ActionLink("Home", "index", "Home") | @Html.ActionLink("Add New Kart", "Create")
<hr>

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.name) (click name to see details)</th>
        <th>@Html.DisplayNameFor(model => model.character)</th>
        <th>@Html.DisplayNameFor(model => model.body)</th>
        <th>@Html.DisplayNameFor(model => model.tire)</th>
        <th>@Html.DisplayNameFor(model => model.glider)</th>
    </tr>
    @foreach (var kart in Model)
    {
        <tr>
            <th>@Html.ActionLink((string)@kart.name, "Details", new { id = kart.id })</th>
            <th>@Html.DisplayFor(modelKart => kart.character.name)</th>
            <th>@Html.DisplayFor(modelKart => kart.body.name)</th>
            <th>@Html.DisplayFor(modelKart => kart.tire.name)</th>
            <th>@Html.DisplayFor(modelKart => kart.glider.name)</th>
        </tr>
    }
</table>