@{
    ViewData["Title"] = "register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MarioKart7Builder.ViewModels

@model RegisterViewModel

<h2>Register As A New User</h2>
<p>
    @Html.ActionLink("Home", "index", "Home")
</p>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-group" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>

    <input class="btn btn-default" type="submit" value="Register" />
}
